* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
}

.btn {
    border-style: none;
}

.btn-success,
.bg-success {
    background-color: #4eb883 !important;
}

.btn-success:hover {
    background-color: #18b164 !important;
}

.router-link-exact-active {
    font-weight: bold;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}
